.books-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .books-heading {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-shadow: #f5f5f5 0px 2px;
    color: #070707;
    margin-bottom: 20px;
  }
  
  .books-list {
    list-style-type: none;
    padding: 0;
  }
  
  .book-item {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .book-item:hover {
    transform: translateY(-5px);
  }
  
  .book-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .book-link:hover {
    text-decoration: underline;
  }
  @media only screen and (max-width: 600px) {
    .books-container {
      padding: 10px;
    }
  
    .books-heading {
      font-size: 24px;
    }
  
    .book-item {
      padding: 10px;
    }
  }

body {
    margin: 0;
    padding: 0;
    background-image: url('book-love-love-story-old-book-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; 
  }
  
  .books-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:transparent; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  @media only screen and (max-width: 768px) {
    body {
      background-size: contain;
    }
  }
